Source: openvpn4ucs
Section: univention
Maintainer: bytemine GmbH <code@bytemine.net>
Build-Depends: debhelper (> 11~), univention-config-dev
Standards-Version: 3.9.2
Priority: optional

Package: openvpn4ucs
Architecture: all
Conflicts: univention-openvpn-schema, univention-openvpn-master, univention-openvpn-server, univention-openvpn-sitetosite
Replaces: univention-openvpn-schema, univention-openvpn-master, univention-openvpn-server, univention-openvpn-sitetosite
Depends: ${shlibs:Depends}, ${misc:Depends}, univention-join (>= 5.0.20-1), shell-univention-lib (>= 2.0.17-1), openvpn, python3-netaddr, python3-webpy
Description: UCS integration for OpenVPN
